{% extends 'base.html' %}


{% block content %}
    <h1> Produtos </h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor de Venda</th>
            <th scope="col">Valor da Mão de Obra</th>
            <th scope="col">Detlhes</th>
          </tr>
        </thead>
        <tbody>
        {% for e in lista %}
          <tr>
            <td>{{ e.nome }}</td>
            <td>{{ "R$" }} {{ e.precoVenda|floatformat:2}}</td>
            <td>{{ "R$" }} {{ e.mao_de_obra|floatformat:2 }}</td>
            <td><a href="detalhes/{{e.pk}}">Detalhes</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'adiciona' %}">Cadastrar</a>
{% endblock %}
